#mainHeader {
    margin: auto;
    margin-top: 1.5em;
}

@media only screen and (max-width: 850px) {
    #mainHeader {
      width: 95%;
    }
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before { 
    background-color: black; 
}

.small {
    width: 80px;
    height: 80px;
}

.menuTopBar {
    text-decoration: none;
    color: black;
}